.container {
  overflow: auto;
  width: 1200px;
  margin: 40px auto 0;
}

#board {
  height: 600px;
  width: 600px;
  overflow: auto;
  float: left;
  position: relative;
}

.player {
  margin: 200px 50px 0;
  height: 200px;
  width: 200px;
  float: left;
  box-sizing: border-box;
  border-radius: 100px;
}

.player, .row { overflow: auto; }

.box {
  float: left;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  background-position: center center;
}

.row:nth-child(even) > .box:nth-child(even) { background-color: rgba(164, 55, 65, 1); }
.row:nth-child(even) > .box:nth-child(odd) { background-color: rgba(128, 21, 21, 1); }
.row:nth-child(odd) > .box:nth-child(even) { background-color: rgba(128, 21, 21, 1); }
.row:nth-child(odd) > .box:nth-child(odd) { background-color: rgba(164, 55, 65, 1); }

aside { background-position: center center; }
.batman { background-image: url('../images/batman.jpg'); }
.superman { background-image: url('../images/superman.jpg'); }

aside.selected {
  border: 5px solid rgba(255,255,255,0.8);
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.loser {
  border: 100px solid rgba(0,0,0,0.65);
  overflow: auto;
}